# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

contracts/node_modules
contracts/.env
contracts/coverage
contracts/coverage.json
contracts/typechain
contracts/typechain-types
contracts/stuff

# Hardhat files
contracts/cache
contracts/artifacts

# dependencies
webapp/node_modules
webapp/.pnp
.pnp.js

# testing
webapp/coverage

# next.js
webapp/.next/*
webapp/out/

# production
webapp/build

# misc
webapp/.DS_Store
webapp/*.pem

# debug
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*

# local env files
webapp/.env*.local
webapp/.env

# vercel
webapp/.vercel

# typescript
webapp/*.tsbuildinfo
webapp/next-env.d.ts

graph/test_smartlottery_v1/node_modules
graph/smart_lottery_VR/node_modules
graph/test_smartlottery_v1/generated
graph/smart_lottery_VR/generated
graph/test_smartlottery_v1/build
graph/smart_lottery_VR/build
